/*
This file contains css that used in both design time and runtime
*/
html, body {
	width: 100%;
	height: 100%;
	margin: 0px;
	padding: 0px;
	overflow: hidden;
}

body {
	font-family: "Microsoft YaHei","Trebuchet MS","Verdana","Arial","Helvetica","sans-serif";
	font-size:100%;
	background-color:#EBEBEB;
}

.wait {
	display: none;
	width: 100%;
	height: 120%;
	text-align: center;
	padding-top: 20%;
	position: absolute; alpha (opacity=45);
	opacity: 0.45;
	background-color: #FFFFFF;
	z-index: 999999999;
}

.gridhover {
	background-color: #fff6a3;
}

#maindiv {
	width: 100%;
	height: 100%;
}

#infoform {
	width: 100%;
	height: 100px;
}

#infogrid {
	width: 100%;
	height: 100%;
}
