<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:dwr="http://www.directwebremoting.org/schema/spring-dwr"
    xmlns:aop="http://www.springframework.org/schema/aop"
    xmlns:context="http://www.springframework.org/schema/context"
    xmlns:tx="http://www.springframework.org/schema/tx"
    xmlns:cache="http://www.springframework.org/schema/cache"
    xsi:schemaLocation="
        http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
        http://www.springframework.org/schema/aop
        http://www.springframework.org/schema/aop/spring-aop-4.0.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context-4.0.xsd
        http://www.springframework.org/schema/jdbc
        http://www.springframework.org/schema/jdbc/spring-jdbc-4.0.xsd
        http://www.springframework.org/schema/tx
        http://www.springframework.org/schema/tx/spring-tx-4.0.xsd
        http://www.springframework.org/schema/cache
        http://www.springframework.org/schema/cache/spring-cache-4.0.xsd">
	
	<context:property-placeholder  location="classpath:jdbc.properties" ignore-unresolvable="true" />
    
    <!--
    <bean id="dataSourceFmd" class="org.springframework.jndi.JndiObjectFactoryBean">
        <property name="jndiName" value="java:comp/env/jdbc/Fmd" />
    </bean>
    -->
    
    <!-- <bean id="dataSourceFmd" class="org.apache.commons.dbcp.BasicDataSource"
		destroy-method="close">
		<property name="driverClassName" value="${fmd.jdbc.driverClassName}" />
		<property name="url" value="${fmd.jdbc.url}" />
		<property name="username" value="${fmd.jdbc.username}" />
		<property name="password" value="${fmd.jdbc.password}" />
	</bean> -->
	
	<bean id="dataSourceFmd" class="org.apache.commons.dbcp.BasicDataSource"
		destroy-method="close">
		<property name="driverClassName" value="com.mysql.jdbc.Driver" />
		<property name="url" value="jdbc:mysql://localhost:3306/fmd" />
		<property name="username" value="root" />
		<property name="password" value="" />
	</bean>
    
    <bean id="sqlSessionFactoryFmd" class="org.mybatis.spring.SqlSessionFactoryBean">
        <property name="dataSource" ref="dataSourceFmd" />
    </bean>
    
    <bean id="fmdScannerFmd" class="org.mybatis.spring.mapper.MapperScannerConfigurer">
        <property name="basePackage" value="com.tss" />
        <property name="sqlSessionFactory" ref="sqlSessionFactoryFmd" /> 
        <property name="annotationClass" value="com.tss.formdesigner.dao.mysql.FmdMyBatisRepository"/>
    </bean>
    
    <bean id="txManagerFmd"
		class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
		<property name="dataSource" ref="dataSourceFmd" />
	</bean>
	
	<tx:advice id="txAdviceFmd" transaction-manager="txManagerFmd" >
		<tx:attributes>
			<tx:method name="get*" read-only="true" />
			<tx:method name="query*" read-only="true" />
			<tx:method name="set*" read-only="true" />
			<tx:method name="*" propagation="REQUIRED"/>
		</tx:attributes>
	</tx:advice>
	
	
	<bean id="dataSourceRuntime" class="org.apache.commons.dbcp.BasicDataSource"
		destroy-method="close">
		<property name="driverClassName" value="com.mysql.jdbc.Driver" />
		<property name="url" value="jdbc:mysql://localhost:3306/fmd" />
		<property name="username" value="root" />
		<property name="password" value="" />
	</bean>
    
    <bean id="sqlSessionFactoryRuntime" class="org.mybatis.spring.SqlSessionFactoryBean">
        <property name="dataSource" ref="dataSourceRuntime" />
    </bean>
    
    <bean id="fmdScannerRuntime" class="org.mybatis.spring.mapper.MapperScannerConfigurer">
        <property name="basePackage" value="com.tss" />
        <property name="sqlSessionFactory" ref="sqlSessionFactoryRuntime" /> 
        <property name="annotationClass" value="com.tss.formdesigner.runtime.dao.RuntimeMyBatisRepository"/>
    </bean>
    
    <bean id="txManagerRuntime"
		class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
		<property name="dataSource" ref="dataSourceRuntime" />
	</bean>
	
	<tx:advice id="txAdviceRuntime" transaction-manager="txManagerRuntime" >
		<tx:attributes>
			<tx:method name="get*" read-only="true" />
			<tx:method name="query*" read-only="true" />
			<tx:method name="set*" read-only="true" />
			<tx:method name="*" propagation="REQUIRED"/>
		</tx:attributes>
	</tx:advice>
	
	
	<aop:config>
		<aop:pointcut id="service" 	expression="execution(* com.tss.formdesigner.service.*.*(..))" />
		<aop:advisor advice-ref="txAdviceFmd" pointcut-ref="service" />
	</aop:config>
    
    <!--  使用annotation 自动注册bean,并检查@Required,@Autowired,@Resource的属性已被注入  -->
    <context:component-scan base-package="com.tss" use-default-filters="false">
        <!-- 扫描符合@Service @Repository @Component 的类 -->
        <context:include-filter type="annotation" expression="org.springframework.stereotype.Service" />
        <context:include-filter type="annotation" expression="org.springframework.stereotype.Repository" />
        <context:include-filter type="annotation" expression="org.springframework.stereotype.Component" />
    </context:component-scan>
    
    <!-- only on 3.2
	<cache:annotation-driven/>
	
	<bean id="cacheManager" class="org.springframework.cache.support.SimpleCacheManager">
		<property name="caches">
			<set>
				<bean class="org.springframework.cache.concurrent.ConCurrentMapCacheFactoryBean" p:name="default"></bean>
			</set>
		</property>
	</bean>
	-->
	
</beans>