@charset "utf-8";
/* CSS Document */
*{margin:0;padding:0;list-style-type:none;}
html,body {margin:0; padding:0;height:100%;width:100%;border:none;}
body{font-family:"微软雅黑";font-size:62.5%;}
a{text-decoration:none;}
a:hover{ text-decoration:none;}
clear{clear:both;}
.text_right{text-align: right;}
.text_left{text-align: left;}
.text_center{text-align: center;}